@model PagedList.IPagedList <VLTECH.Models.Donhang>

@using PagedList.Mvc;

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>

<style>

    .page-list {
        position: absolute;
        bottom: 230px;
        text-align: center;
    }
        .page-list a {
            color: #000000;
        }
    
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Quản lý đơn hàng </h2>
    @using (@Html.BeginForm("Index", "Donhangs", FormMethod.Get))
    {
        <div class="input-group" style="width: 400px;">
            @Html.TextBox("search", null, new { @class = "form-control", @type = "text", @placeholder = "Search for..." })
            <button class="btn btn-primary" type="submit" value="search"><i class="fas fa-search"></i></button>
        </div>
    }
    </br>
    <table class="table table-bordered" style="text-align:center">
        <tr>
            <th>
                Mã đơn
            </th>
            <th>
                Ngày đặt
            </th>
            <th>
                Họ tên khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Tình trạng đơn hàng
                <i class="fa-solid fa-pen-to-square" style="width: 500px; background-color: red"></i>
            </th>
            <th>
                Hành động
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Madon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaydat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nguoidung.Hoten)
                </td>
                                <td>
                    @Html.DisplayFor(modelItem => item.Nguoidung.Dienthoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrangs.Tinhtrangdonhang)
                </td>
                <td>
                    <div style="text-align: center;">
                        <div class="btn btn-default" style="background-color: #179d02; ">@Html.ActionLink("Chi tiết và xác nhận", "Edit", new { id = item.Madon })</div>
                    </div>
                </td>
            </tr>
        }

    </table>
    <div class="page-list">
        @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))
    </div>
</body>
</html>

