@model PagedList.IPagedList<VLTECH.Models.Hangsanxuat>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    .page-list {
        position: absolute;
        bottom: 230px;
        text-align: center;
    }

        .page-list a {
            color: #000000;
        }
</style>
<h2>Quản lý hãng sản xuất</h2>

<p>
    <button class="btn-default" style="width: 150px; height: 50px; background-color: #179d02; color: #ffffff; border-radius: 5px; border: none;">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<table class="table table-bordered" style="text-align: center;">
    <tr>

        <th>
            Mã hãng
        </th>
        <th>
            Tên hãng
        </th>
        <th>
            Hành động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                <div style="text-align: center;">
                    <div class="btn btn-default" style="background-color: #179d02; ">@Html.ActionLink("Sửa", "Edit", new { id = item.Mahang })</div>
                    <div class="btn btn-default" style="background-color: #ff0000; ">@Html.ActionLink("Xoá", "Delete", new { id = item.Mahang })</div>
                </div>
            </td>
        </tr>
    }

</table>
<div class="page-list">
    @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>