@using VLTECH.Models
@model Sanpham


@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #left {
        float: left;
        width: 50%;
        text-align: center;
        padding-bottom: 40px;
    }

    #right {
        float: left;
        width: 50%;
    }
    #bottom {
        clear: both;
        font-size: 18px;
    }

    #btn-muahang input {
        width: 180px;
        height: 40px;
        color: white;
        background-color: #BC0022;
        border: none;
        text-transform: uppercase;
    }
</style>
<br />

    <div id="content">
         <h2 style="text-align: center;">CHI TIẾT SẢN PHẨM</h2>
         <div id="left">
             <img src="@Url.Content(@Model.Anhbia)" style="width: 400; height: 400px;" />
         </div>
         <div id="right">
             <h3> @Model.Tensp</h3>
             <h2 style="color:red">@String.Format("{0:0,0}", @Model.Giatien) VNĐ</h2>
             <br />
             <div id="btn-muahang">
                 @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = Model.Masp, @strURL = Request.Url.ToString() }))
                 {
                     <input type="submit" value="Thêm vào giỏ hàng" id="bgnGioHang" />

                 }


             </div>
             @{
                 if (Model.Soluong <= 5)
                 {
                     <dd style="color: #808080; padding-top: 5px;">Còn lại @Html.DisplayFor(model => model.Soluong) sản phẩm</dd>
                 }

             }
         </div>
         <div id="bottom">
             <h2>Mô tả sản phẩm</h2>
             @Model.Mota
             <table class="table table-bordered" style="font-size: 20px; text-align:center">
                 <tr>
                     <th colspan="2" style="text-align: center; font-size: 30px;">
                         Thông số kỹ thuật
                     </th>
                 </tr>
                 <tr>
                     <th>
                         Hãng sản xuất
                     </th>
                     <td>
                         @Html.DisplayFor(model => model.Hangsanxuat.Tenhang)
                     </td>
                 </tr>
                 <tr>
                     <th>
                         Hệ điều hành
                     </th>
                     <td>
                         @Html.DisplayFor(model => model.Hedieuhanh.Tenhdh)
                     </td>
                 </tr>
                 <tr>
                     <th>
                         Bộ nhớ trong
                     </th>
                     <td>
                         @Html.DisplayFor(model => model.Bonhotrong) GB
                     </td>
                 </tr>
                 <tr>
                     <th>
                         RAM
                     </th>
                     <td>
                         @Html.DisplayFor(model => model.Ram) GB
                     </td>
                 </tr>
                  <tr>
                     <th>
                        Hỗ trợ sim
                     </th>
                     <td>
                         @Html.DisplayFor(model => model.Thesim)
                     </td>
                 </tr>
             </table>
         </div>
    </div>