@{
    ViewBag.Title = "MOBILE SHOP";

}


<br />
<div class="row">
    <div class="col-md-8">
        @Html.Action("SlidePartial", "Home")
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("dtsamsungpartial", "Sanpham")"><img src="~/HinhanhSP/samsung-galaxy-z-fold2-galaxy-z-fold2.gif" class="img-responsive" alt="" /></a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("dtsamsungpartial", "Sanpham")"><img src="~/HinhanhSP/a66be081571b41acced5eb4a4d9feb6b.png" class="img-responsive" alt="" style="position: relative; top:20px;" /></a>
</div>
</div>
<div>
    <a href="@Url.Action("dtiphonePartial", "Sanpham")"><img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
</div>
<br />
@*<div class="spnoibat">
        <div class="row">

            <h3> SẢN PHẨM NỔI BẬT</h3>
            <div class="col-md-4">
                <img src="~/HinhanhSP/spnb1.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-4">
                <img src="~/HinhanhSP/spnb2.png" class="img-responsive" alt="" />
            </div>
            <div class="col-md-4">
                <img src="~/HinhanhSP/spnb3.png" class="img-responsive" alt="" />
            </div>
        </div>
    </div>*@
<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc")
</div>
<div class="dt">
    @Html.Action("sanphammoipartial", "Sanpham")
</div>


